.fieldgrid {
  /* width: 60px; */
  display: grid;
  grid-gap: 2px;
  grid-auto-flow: row;
  height: 100%;
}

.block-style {
  height: 100%;
  width: 100%;
  background-color: rgb(105, 105, 105);
  color: #fff;
  border-radius: 5px;
  /* padding: 20px; */
  font-size: 150%;
}

.fieldgrid::before {
  content: "";
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.fieldgrid > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

/* Just to make the grid visible */

.fieldgrid > * {
  background: rgba(0, 0, 0, 0.1);
  border: 1px white solid;
}
