<ng-container *ngIf="sudokumodel || sudokusnapshotmodel">
  <ng-container *ngIf="sudokumodel">
    <div
      class="blockgrid-sudokumodel"
      [style.grid-template-rows]="yBlocks"
      [style.grid-template-columns]="xBlocks"
    >
      <ng-container *ngFor="let block of sudokumodel.sudokuBlocks">
        <block [block]="block"></block>
      </ng-container>
    </div>
  </ng-container>
  <ng-container *ngIf="sudokusnapshotmodel">
    <div
      class="blockgrid-sudokusnapshotmodel"
      [style.grid-template-rows]="yBlocks"
      [style.grid-template-columns]="xBlocks"
    >
      <ng-container *ngFor="let block of sudokusnapshotmodel.sudokuBlocks">
        <block [snapshotblock]="block"></block>
      </ng-container>
    </div>
  </ng-container>
</ng-container>
