.field-style {
  height: 100%;
  width: 100%;
  background-color: rgba(194, 189, 189, 0.658);
  /* background-color: rgb(250, 6, 144); */
  /* color: rgb(245, 13, 13); */
  border-radius: 0.5px;
  padding: 2px;
}

button {
  height: 100%;
  width: 100%;
  background-color: transparent;
  font-size: 2rem;
  border-radius: 0px;
  border: 0px;
}

.isInitialField {
  background-color: rgb(145, 145, 145);
  color: white;
  border: none;
  cursor: pointer;
}

.isDefaultField {
  background-color: rgb(170, 170, 170);
  color: white;
  border: none;
  cursor: pointer;
}

.isReactorField {
  background-color: lightblue;
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
}

.isActorField {
  background-color: lightskyblue;
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #5da82a;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}
