<div class="field-style dropdown" (click)="onFieldClick()">
  <ng-container *ngIf="field.isInitialField === true; else notInitialField">
    <button type="button" class="isInitialField">
      {{ field.value }}
    </button>
  </ng-container>
  <ng-template #notInitialField>
    <button type="button" class="isNotInitialField">
      {{ field.value }}
    </button>
  </ng-template>
  <ng-container *ngIf="field.possibleValues.length > 0">
    <div class="dropdown-content">
      <p>
        <possiblevalues
          [possibleValues]="field.possibleValues"
          [field]="field"
          [block]="block"
        ></possiblevalues>
      </p>
    </div>
  </ng-container>
</div>
